@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
body{
  background-image: url(./image/todo.jpg);
}
*{
  margin: 0;
  padding: 0;
}
.heading{
  color:  #e6f2ff;
  text-shadow: 2px 2px 5px rgb(0, 0, 0);
  font-size: 50px;
  margin: 70px 0 45px 0px;
  font-family: 'Lato', sans-serif;
}
.iput{
  text-align: center;
  font-size: 25px;
  margin: 0 0 15px 0;
  border: 2px solid black;
  border-radius: 10px;
  padding: 3px 0px 3px 0px;
}
.Btn_iput{
    justify-content: flex-start;
    padding: 5px 16px 7px;
    text-align: start;
    border-radius: 20px;
    outline: none;
    border: rgb(255, 255, 255) 1px solid;
    margin-left: 20px;
    background-color: #80d4ff;
    margin-right: 20px;
    font-family: cursive;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
}
.Btn_iput:hover{
  background-color: black;
  color: white;
}
.li_text{
  font-size: 30px;
  font-family: cursive;
  display: flex;
  justify-content: center;
  font-weight: bold;
  outline: none;
  margin: 18px 0 12px 0;
}
.li_bttn{
  margin: 0px -40px 0px 38px;
}
.Btn_li{
  border-radius: 8px;
  font-size: 25px;
  font-family: cursive;
  font-weight: bold;
  padding: 0 7px 0 7px;
  margin: 0 10px 0 0px;
  justify-content: end;
  cursor: pointer;
}
.li_iput{
  border-radius: 10px;
  border: 2px solid black;
  margin: 3px -18px 4px 12px;
}
.Update_btn{
  background-color: #33ff33;
  color: white;
}
.Update_btn:hover{
  color: #33ff33;
  background-color: white;
}
.Edit_Btn{
  background-color: #1a75ff;
}
.Edit_Btn:hover{
  color: #1a75ff;
  background-color: black;
}
.Delte_Btn{
  background-color: red;
  color: white;
}
.Delte_Btn:hover{
  color: red;
  background-color: white;
}



